.lp-display {
  text-align: left;
  padding-left: 10px;
  overflow: scroll;
  border: 2px solid #5c7080;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: #293742;
  color: #e1e8ed;
}

.blue-font {
  color: #48aff0;
}

.red-font {
  color: #ff7373;
}

.green-font {
  color: #3dcc91;
}

.yellow-font {
  color: #ffb366;
}

.lp-table {
  text-align: center;
  width: 100%;
}

.lp-table td {
  border-radius: 10px;
  background: #293742;
}

.blue-border {
  border: 1px solid #2b95d6;
}

.red-border {
  border: 1px solid #f55656;
}

.green-border {
  border: 1px solid #15b371;
}

.yellow-border {
  border: 1px solid #f29d49;
}
