.courses-title{
    border:1px solid #30404D;
    border-radius: 3px;
    padding-left: 10px;
    background:#293742;
}

.course-body {
    border-radius: 3px;
    padding-left: 10px;
    background: #30404D;
}

.course-body table {
    width:100%;
    text-align: center;
}